<div class="flex justify-center items-center mt-80">
  <form class="w-1/4">
    <div class="text-3xl mb-5 p">Login</div>
    <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        placeholder="Ex. pat@example.com"
      >
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button color="primary" class="w-full">Sign In</button>
    <div class="mt-5 flex justify-center">
      <a routerLink="/register" class="underline">Don't you have an account?</a>
    </div>
  </form>
</div>
