<div class="flex justify-between w-full pr-80 pl-80 pt-2 pb-2 bg-blue-700 items-center position-fixed">
    <button mat-button>
      <a routerLink="/home" class="text-white no-underline font-bold text-xl">FakeStore</a>
    </button>
    <div class="flex items-center">
      <button mat-icon-button class="mr-3">
        <mat-icon class="text-white">favorite</mat-icon>
      </button>
      <button mat-icon-button class="mr-6">
        <mat-icon class="text-white">shopping_cart</mat-icon>
      </button>
      <button mat-raised-button>
        <a routerLink="/login" class="no-underline text-black">Sign In</a>
      </button>
    </div>
</div>
